BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
AccessModifierOffset: -2
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"'        # Project headers
    Priority: 3
  - Regex: '^<.*>'        # System/C++/third-party headers
    Priority: 2
SortIncludes: CaseSensitive
